.git
.gitignore
.vscode/
.codebuddy/

temp/
resource/log/
hack/
docker-compose.yaml.exmple

web/node_modules
web/.next/
web/.env.development
web/npm-debug.log*
web/yarn-debug.log*
web/yarn-error.log*

.DS_Store
*.md
